.chatbox {
    list-style-type: none;
    max-height: 40vh;
    overflow-y: scroll;
    padding: 0;
}

.chatbox p {
    padding: 0;
    margin: 0;
}

.chatbox h5 {
    margin: 0 1rem 0 0;
    font-size: 0.9rem;
}

.item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    margin-bottom: 1rem;
    border-radius: 4px;
}

.item div {
    text-align: left;
    width: 20%;
    overflow: hidden;
    margin-right: 1rem;
}